{% extends "structure.html" %}
{% block main %}
        <h1>Want to try The Thunderdome?</h1> 
        <p> 2 men enter... 1 man leaves...</p>
        <!-- <img src= "static/images/Flea_Bird.JPG" alt = "Flea Bird" /> -->
<h2>Sign in!</h2>
        <form action = "/" method = "post">
            <input placeholder = 'Username' name = "username" type = "text">
            <input placeholder = 'Password' name = "password" type = "password">
            <input type = "submit">
        </form>

<h2> or <a href = "/signup"> sign up!</a></h2>
        <p>{{ message }}</p>


  {% endblock main %}